/*common CSS*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.normal-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.donate-btn{
    text-decoration: none;
    padding: 15px 20px;
    background: #FF5959;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
}
.section-heading{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
}
footer h2{
    font-family: 'Lobster', cursive;
}

/*hero section*/
#hero{
    background-image: url("../images/donation8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-container{
    background-color: rgba(0,0,0,0.5);
    padding-top: 120px;
    padding-bottom: 190px;
    text-align: center;
    color: #FFFFFF;
}
.hero-heading{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}
.hero-container .normal-text{
    margin-bottom: 60px;
}
/*donate today section*/
#donate-today{
    padding: 100px 0px;
    text-align: center;
}
.donate-amount-container{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}
.donate-amount{
    background: #fafafa;
    border-radius: 5px;
    padding: 30px;
    margin-right: 15px;
    margin-top: 30px;
}
.donate-amount p{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
}
.donate-amount:hover{
    border: 1px solid #FF5959;
    background: #fce9e9;
}
.donate-amount:hover p{
    color: #FF5959;
}
.input-box{
    width: 50%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.input{
    margin-bottom: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid #dadada;
    text-align: center;
    width: 40%;
}
.input:focus {
    outline: none;
}
/*update*/
#update{
    padding: 100px 0;
}
.update-container p{
    margin-bottom: 30px;
}
.plan-form-box{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px;
    background: #FFF4D6;
}
.subscribe-input{
    margin-bottom: 30px;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 5px;
    padding: 10px 10px;
    background: #D9D9D9;
    width: 50%;

}
.subscribe-input:focus {
    outline: none;
}
.subscribe-submit{
    background: #FF5959;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin-left: -9px;
    color: #FFFFFF;
    font-size: 14px;
}
/*footer*/
.footer-container{
    padding: 100px 0;
    background: #121212;
    text-align: center;
}
.footer-container h2{
    color: #FF5959;
}
.footer-container p{
    color: #D9DBE1;
    margin-top: 15px;
}
