/*common CSS*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.normal-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.donate-btn{
    text-decoration: none;
    padding: 15px 20px;
    background: #FF5959;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
}
footer h2{
    font-family: 'Lobster', cursive;
}

/*hero section*/
#hero{
    background-image: url("../images/donation8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-container{
    background-color: rgba(0,0,0,0.5);
    padding-top: 120px;
    padding-bottom: 190px;
    text-align: center;
    color: #FFFFFF;
}
.hero-heading{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}
.hero-container .normal-text{
    margin-bottom: 60px;
}
